<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>
<div id="footer" th:fragment="footer">
    <div class="footer-nav">
        <div class="left">
            <ul>
                <li><a href="/index">главная</a></li>
                <li><a href="/about-us">о нас</a></li>
                <li><a href="/articles">статьи</a></li>
                <li class="last"><a href="/contact-us">контакты</a></li>
            </ul>
        </div>
    </div>
<!--    <div class="bottom">Copyright - Type in your name here<br />-->
<!--        <a rel="nofollow" href="" class="new_window">Website template</a><br />-->
<!--        <a href="" class="new_window">3D Models</a>-->
<!--    </div>-->
</div>
</body>
</html>