<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>
<div id="header" th:fragment="header">
    <div class="row-1">
        <div class="fleft"><a th:href="@{index}"><img th:src="@{images/logo.gif}" alt="" /></a></div>
        <div class="fright">
            <ul>
                <li><a th:href="@{index}"><img th:src="@{images/icon1-act.gif}" alt="" /></a></li>
                <li><a th:href="@{contact-us}"><img th:src="@{images/icon2.gif}" alt="" /></a></li>
            </ul>
        </div>
    </div>
    <div class="row-2">
        <div class="left">
            <ul>
                <li><a th:href="@{/index}"><span>главная</span></a></li>
                <li><a th:href="@{/about-us}"><span>о нас</span></a></li>
                <li><a th:href="@{/articles}"><span>статьи</span></a></li>
                <li class="last"><a th:href="@{/contact-us}"><span>контакты</span></a></li>
            </ul>
        </div>
    </div>
    <div class="row-3">
        <div class="inside">
            <h2 STYLE="color:#35b3d8;font-size:xx-large;line-height:2">Speed is the Source <b>of Emotions</b></h2>
            <p>„Время не любит, когда его тратят впустую.“ —  Генри Форд</p>
            <form action="" id="search-form">
                <fieldset><label>Поиск:</label><input type="text" /><a href="#" onclick="document.getElementById('search-form').submit()" class="link1"><em><b>Go!</b></em></a></fieldset>
            </form>
        </div>
    </div>
    <div class="extra"><img th:src="@{images/header-img.png}" alt="" /></div>
</div>
</body>
</html>